*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Same-Text-Style
{
    font-size: 1.5rem;
    color: #5F6368;
    font-weight: 400;
}
hr
{
    border: 1px solid #DADCE0;
}
.Nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.Logo img
{
    width: 100%;
    height: 40px;
    width: 40px;
}
.Logo
{
    height: inherit;
    display: flex;
    align-items: center;
}
.Logo *
{
    margin: 0px 10px;
}
.Search * , .Call *
{
    margin: 0px 10px;
}
.Search input
{
    width: 40vw;
    border: none;
    background-color: inherit;
    padding: 5px 0px;
}
.Search input:focus
{
    outline: none;
}
.Search
{
    background-color: #F1F3F4;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.Search-Shadow
{
    box-shadow: 0px 0px 2px #5F6368;
}
.Call
{
    background-color:#FFBA00;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Call button
{
    outline: none;
    border: none;
    background-color: inherit;
    color: #5F6368;
}
.Call:hover
{
    cursor: pointer;
}
.Call:hover > i
{
    transform:translate(100%);
    transform:rotate(360deg);
    color: white;
    transition: all .25s ease;
}

/* ================ */
.All-Notes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.Note-Box
{
    position: relative;
    height:200px;
    width: 200px;
    background-color: #F1F3F4;
    border: 3px solid #FFBA00;
    margin: 20px;
}
.Note-Text
{
    text-align: justify;
    color: black;
    width:100%;
    height: 100%;
    word-wrap: break-word;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: auto;
}
.Note-Box .Operations
{
    position: relative;
    height: 20px;
    z-index: 1000;
}
.Note-Box  .Operations .Images
{
    padding: 10px;
    position: absolute;
    right: 5px;
    height: 100%;
    height:fit-content;
}
.Note-Box .Operations img
{
    width: 20px;
    height:20px;
    top: 5px;
    right: 5px;
}
textarea
{
    padding: 10px;
    width: 100%;
    height: 100%;
}
#Area
{
    color: black;
    padding: 10px;
    height: 174px;
    outline: none;
    border: none;
    background-color: #F1F3F4;
}
#Area:focus
{
    outline: none;
}
.Note-Display
{
    display: none;
}
.Images img:hover
{
    cursor: pointer;
    transform: scale(1.3);
}
.Search-Click
{
    background-color: #FFBA00;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.Search:hover
{
    cursor: pointer;
}
@media (max-width:650px)
{
    .Nav
    {
        flex-wrap: wrap;
    }
    .Logo
    {
        order: 1;
    }
    .Call
    {
        order: 2;
    }
    .Search
    {
        order: 3;
        flex-grow: 1;
    }
    .Nav >div
    {
        margin: 10px 0px;
    }
    .All-Notes
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Note-Box
    {
        width: 150px;
        height: 150PX;
        padding: 0PX;
        margin: 5PX;
    }
    #Area
    {
        height: 125px;
    }
}